.export-options {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
   padding: 1rem;
    background-color: white;
}

.file-types{
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 1rem;
}

.file-types > label{
font-size: 1rem;
font-weight: 500;
}